<!DOCTYPE html>
<html>
<head>
  <title>BabyNames</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" if params[:controller] == 'babynames' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
